*{
    margin: 0;
    padding: 0;
}
#header{
    height: 1.384615rem;
    background: #fff;
    border-bottom: 0.030769rem solid #f5f6f8 ;
    line-height: 1.384615rem;
    text-align: center;
}
#header .tit{
    font-size: 0.492307rem;
    padding-right: 0.461538rem;
}
.mui-icon-arrowdown{
    color:#0f99f4 ;
}
#header .mui-icon-compose{
    float: right;
    font-size: 0.848148rem;
    position: absolute;
    right: 0.407407rem;
    top: 0.277777rem;
}
.footer{
    height: 1.453703rem;
}
.footer .mui-icon{
    font-size: 0.759259rem;
}
.footer .mui-tab-label{
    font-size: 0.222222rem;
}
