*{
    margin: 0;
    padding: 0;
}
#header{
    height: 1.384615rem;
    background: #fff;
    border-bottom: 0.030769rem solid #f5f6f8 ;
    line-height: 1.384615rem;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .tit{
    font-size: 0.492307rem;
    padding-right: 0.461538rem;
}
#header .tab_t{
    display: flex;
}
#header .t_tit{
    flex-grow: 1;
}
.mui-icon-arrowdown{
    color:#0f99f4 ;
}
#header .mui-icon-compose{
    float: right;
    font-size: 0.848148rem;
    position: absolute;
    right: 0.407407rem;
    top: 0.277777rem;
}
#header .icon-552dc065f0478{
    font-size: 0.755555rem;
    display: block;
    position: absolute;
    padding: 0;
}
#header .mui-icon-plusempty{
    font-size: 0.755555rem;
    position:absolute;
    right: 0.37037rem;
    top: 0.231481rem;
}
#header .yqm{
    font-size: 0.24074rem;
    position:relative;
    top: 0.416666rem;
    left: 0%;
    font-style: normal;
    height: 0.185185rem;
}
.footer{
    height: 1.453703rem;
}
.footer .mui-icon{
    font-size: 0.759259rem;
}
.footer .mui-tab-label{
    font-size: 0.222222rem;
}
.mui-bar-tab .mui-tab-item .mui-icon{
    left: -0.037037rem;
}
.zhanwei{
    height: 1.453703rem;
}
.icon-boshimao{
    color: #00c7aa;
}
.yqm .active{
    display: block;
}
.mui-table-view-cell>.mui-slider-left>.mui-btn.mui-icon, .mui-table-view-cell>.mui-slider-right>.mui-btn.mui-icon{
    font-size: 0.5rem;
    height: 100%;
}
.mui-table-view-cell>.mui-slider-left>.mui-btn:after, .mui-table-view-cell>.mui-slider-right>.mui-btn:after{
        position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
}
.mui-table-view-cell>.mui-slider-right{
        right: 0;
    -webkit-transition: -webkit-transform 0ms ease;
    transition: transform 0ms ease;
    -webkit-transform: translateX(165%);
    transform: translateX(165%);
}
.pop{
    /* height: 2.5rem; */
    width: 2rem;
    position: relative;
    z-index: 3;
    left: 0.19rem;
    top: 2rem;
    background: #fff;
    border-radius: 10%;
    box-shadow: 0.027777rem 0.027777rem 0.027777rem 0.027777rem rgba(0,0,0,.5);
    display: none;
}
.pop::before{
    content: '';
    width: 0;
    height: 0;
    border-bottom: 0.185185rem solid #cdcdcd;
    border-left: 0.185185rem solid transparent;
    border-right: 0.185185rem solid transparent;
    /* box-shadow: 0.027777rem 0.027777rem rgba(0,0,0,.5); */
    position: absolute;
    top: -0.185185rem;
}
.pop li{
    height: 1.25rem;
    text-align: center;
    line-height: 1.25rem;
    font-size: 0.37037rem;
}
.pop li:nth-of-type(1){
    border: 0.018518rem solid #ccc;
}
.newcontent{
    background:#fff;
}