@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.ttf') format('truetype');/* IE6-IE8 */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hua:before {
  content: "\e621";
}

.icon-xiazai:before {
  content: "\e709";
}

.icon-zhibo:before {
  content: "\e627";
}

.icon-add-menu:before {
  content: "\e628";
}

.icon-zhong:before {
  content: "\e608";
}

.icon-jiangshi:before {
  content: "\e610";
}

.icon-552dc065f0478:before {
  content: "\e502";
}

.icon-dengpao:before {
  content: "\e682";
}

.icon-pot:before {
  content: "\e503";
}

.icon-nengliceping:before {
  content: "\e721";
}

.icon-wenjianjia:before {
  content: "\e740";
}

.icon-qiandao:before {
  content: "\e602";
}

.icon-tiaozhan:before {
  content: "\e601";
}

.icon-shouji2:before {
  content: "\e527";
}

.icon-boshimao:before {
  content: "\e662";
}

.icon-baozhi:before {
  content: "\e603";
}

.icon-shuduyouxiicon:before {
  content: "\e606";
}

.icon-dianshi:before {
  content: "\e607";
}

.icon-hao:before {
  content: "\e66e";
}

.icon-lianggeren:before {
  content: "\e517";
}

.icon-jianzhu:before {
  content: "\e703";
}

.icon-shu:before {
  content: "\e6dd";
}

.icon-jiangshi-:before {
  content: "\e6aa";
}

.icon-wenjianjia1:before {
  content: "\e637";
}

