.newcontent{
    background: #f3f7fa;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1.388888rem;
}
.sz_ul{
    display: flex;
    justify-content: center;
    background: #fff;
    flex-wrap: wrap;
    margin-top: 0.277777rem;
}
.sz_ul:nth-of-type(1){
    margin: 0;
}
.sz_ul li{
    width: 9.166666rem;
    height: 1.388888rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.425925rem;
    border-bottom: 0.009259rem solid #ccc;
}
.sz_ul li .mui-icon{
    color: #b7b7b7;
}
.daohang{
    color: #069AFA;
}